
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a {
    text-align: center;
    color: green;
}

.box {
   
    gap: 6px;
    border: 2px solid #008000;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.b {
    display: flex;
    gap: 8px;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pair-price {
    display: grid;
    gap: 10px; /* Space between "1 Pair" and "DKK 195.00" */
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.discount {
    
    font-weight: bold;
}

.box p {
    margin: 5px 0;
    color: gray;
}
.options {
    display: none;
    margin-top: 10px;
    
}

select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}
.active .options {
    display: block;
}
.c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c h5 {
    color: green;
}


.add-to-cart {
    width: 100%;
    background: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
} 









